.container{
    max-width: 400px;
    margin: 0;
    padding: 20px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button{
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #45a049;
}

