*{
  font-family: 'Times New Roman', Times, serif;
}

h2,h3{
  text-align: center;
}

body {
    background-image: url(./Images/purple-and-white-background-2560-x-1440-wb2o9lev4g3oru3c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
    color: white;
    border-radius: 20px;
    
  }
 
  p{
    margin-bottom: 30px;
  }

  #username,#password,#login-username,#login-password{
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(88, 50, 88);
    margin-bottom: 10px;
    margin-left: 75px;
  }

  input:hover{
    box-shadow: 6px 6px 10px #0e0303,
    -6px -6px 10px #fcfbfb00
  }

  #register,#login{
    background-color: purple;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
  }

  button:hover{
    color: white;
    background-color: blueviolet;
    box-shadow: 6px 6px 10px #0e0303,
    -6px -6px 10px #fcfbfb00;
  }

  #search{
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(88, 50, 88);
    margin-bottom: 10px;
    margin-left: 75px;
  } 

  #searchBtn{
    background-color: purple;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
  }

  #message-input{
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(88, 50, 88);
    margin-bottom: 10px;
    margin-left: 75px;
  }

  #message-input:hover{
    box-shadow: 6px 6px 10px #0e0303,
    -6px -6px 10px #fcfbfb00;
  }

  #submit{
    background-color: purple;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    color: white;
    margin-bottom: 10px;
  }

  #logout{
    background-color: purple;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    color: white;
    margin-top: -32px;
  }

  .page {
    border: 1px solid;
    display: flex;
    width: 350px;
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin: 15px;
    background-color: rgb(189, 100, 189,10);
    border-radius: 20px;
  } 
  
  #message-page {
    display: block;
  }
  
  .message-card {
    border: 1px solid;
    color: white;
    background-color: purple;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 60px;
  }

  .message-card:hover{
    box-shadow: 6px 6px 10px #0e0303,
    -6px -6px 10px #fcfbfb00;
  }
  
  .message-card button {
    background-color: purple;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    margin-top: 10px;
    color: white;
  }

  .message-card button:hover{
    box-shadow: 6px 6px 10px #0e0303,
    -6px -6px 10px #fcfbfb00;
    background-color: blueviolet;
  }

  .scroll{
    width: 300px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    background-color: grey;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
 
  .page{
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  .page{
    animation: fadeOut 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  h2,h3{
    -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  
@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

  
  